.carriage-type {
  display: inline-block;
}

.carriage-type-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}


.carriage-type-img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Люкс */
.carriage-type-img.lux {
  background-image: url('../../../../assets/seat-select/lux.png');
}

.carriage-type-img.lux-active {
  background-image: url('../../../../assets/seat-select/lux-active.png');
}

/* Купе */
.carriage-type-img.coupe {
  background-image: url('../../../../assets/seat-select/coupe.png');
}

.carriage-type-img.coupe-active {
  background-image: url('../../../../assets/seat-select/coupe-active.png');
}

/* Плацкарт */
.carriage-type-img.reserved {
  background-image: url('../../../../assets/seat-select/reserved.png');
}

.carriage-type-img.reserved-active {
  background-image: url('../../../../assets/seat-select/reserved-active.png');
}

/* Сидячий */
.carriage-type-img.seat {
  background-image: url('../../../../assets/seat-select/seat.png');
}

.carriage-type-img.seat-active {
  background-image: url('../../../../assets/seat-select/seat-active.png');
}

.carriage-type-subtitle {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.carriage-type-subtitle.active {
  color: #333;
}