.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.home-page__content {
    position: relative;
    padding-top: 144px;
    flex: 1 0 auto;
    width: 100%;
}