.banner {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 1;
}

.banner__title {
    position: absolute;
    bottom: 241px;
    left: 288px;
    max-width: 500px;
    margin-left: 60px;
    font-weight: 100;
    font-size: 72px;
    color: #fff;
    z-index: 2;
}

.banner--home {
    height: 985px;
    background-image: url('../../assets/banners/banner.png');
}

.banner--home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #FFA800;
    z-index: 2;
}

.banner--trains {
    height: 592px;
}

.banner__content {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}