.banner {
  position: relative;
  width: 100%;
  overflow: visible;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
}

.banner__title {
  position: absolute;
  bottom: 241px;
  left: 288px;
  max-width: 500px;
  margin-left: 60px;
  font-weight: 100;
  font-size: 72px;
  color: #fff;
  z-index: 2;
}

.banner--home,
.banner--trains,
.banner--pass {
  height: 985px;
}

.banner--home {
  height: 985px;
}

.banner--trains {
  height: 592px;
}

.banner--pass {
  height: 592px;
}

.banner--home .banner__footer-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffa800;
  z-index: 5;
}

.banner__content {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}